body {
  color: #41644A;;
  margin: 0;
  padding: 0;
  height: 100%;
}
  
  .navbar {
    background-color: #41644A;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    float: right;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #41644A;
  }
  .navbar-link.nav-link{
    text-decoration: none;
    color: #333333;
    padding: 10px;
    background-color: #dddddd;
    border-radius: 4px;
    z-index: 999;
  }

  .body {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* CSS untuk button lapor sampah */
  .boday a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn_lapor {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn_lapor:hover {
    background-color: #45a049;
  }
  
  
  .boday a:hover {
    background-color: #45a049;
  }

  .board{
    display: flex;
    height: 300px;
    align-items: center;
    background: #41644A;
  }

  .board img{
    height: 300px;
    margin-right: 10px;
  }

  .board p{
    font-size: 16px;
  }

  .isi{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center; 
    color: #41644A; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word
  }
  .footer {
    background-color: #41644A;
    color: #fff;
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }

  #map {
    height: 400px;
  }
 
  